<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en" th:include="fragments/common :: head"></head>
<body>

<div th:replace="fragments/common :: header">...</div>

<!--@thymesVar id="type" type="uk.ac.sanger.mig.aker.domain.Type"-->

<div class="container">

    <div class="page-header">
        <h1>Request Samples</h1>
    </div>

    <form th:action="@{/samples/store/}" th:object="${sampleRequest}" method="POST" role="form">

        <div class="form-group">
            <label for="amount">Amount of samples</label>
            <input type="text" placeholder="Amount of samples..." id="amount"
                   class="form-control" th:field="*{amount}"/>
        </div>

        <div class="alert alert-danger" th:if="${#fields.hasErrors('amount')}">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <strong>Validation Errors</strong>
            <p th:errors="*{amount}"></p>
        </div>

        <div class="form-group">
            <label for="type">Of Type</label>
            <select id="type" class="form-control" th:field="*{type}">
                <option th:each="type : ${types}" th:value="${type.id}" th:text="${type.value}">
                </option>
            </select>
        </div>

        <div class="alert alert-danger" th:if="${#fields.hasErrors('type')}">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <strong>Validation Errors</strong>
            <p th:errors="*{type}"></p>
        </div>

        <button type="submit" class="btn btn-primary">Request</button>
    </form>
</div>

<div th:replace="fragments/common :: footer"></div>

</body>
</html>