<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en" th:include="fragments/common :: head"></head>
<body>

<div th:replace="fragments/header :: header">...</div>

<div class="container">
    <h1>Samples</h1>
    <!--@thymesVar id="samples" type="Sample"-->
    <table class="table table-striped">
        <tr>
            <th>
                #
            </th>
            <th>
                Barcode
            </th>
            <th>
                Labels
            </th>
            <th>
                Type name
            </th>
            <th>
                Status
            </th>
        </tr>
        <tr th:each="sample : ${samples}">
            <td th:text="${sample.id}">
                1
            </td>
            <td>
                <a href="#" th:text="${sample.barcode}">Title ...</a>
            </td>
            <td>
                <span th:each="label : ${sample.labels}">
                    <span th:text="${label.name}"> ... </span>
                </span>
            </td>
            <td th:text="${sample.type.name.toUpperCase()}">
                Text ...
            </td>
            <td th:text="${sample.status.value}">
                Status ...
            </td>
        </tr>
    </table>
</div>

</body>
</html>