<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en" th:include="fragments/common :: head"></head>
<body>

<div th:replace="fragments/header :: header">...</div>

<div class="container">

    <div class="clearfix">
        <h1 class="pull-left">Samples</h1>

        <div class="pull-right">
            <div class="btn-group">
                <a th:href="@{/samples/create/}" class="btn btn-primary">
                    Request Samples
                </a>
            </div>
        </div>
    </div>

    <!--@thymesVar id="samples" type="List<Sample>"-->
    <!--@thymesVar id="sample" type="uk.ac.sanger.mig.proto.aker.entities.Sample"-->
    <table class="table table-striped">
        <tr>
            <th>
                #
            </th>
            <th>
                Barcode
            </th>
            <th>
                Name
            </th>
            <th>
                Labels
            </th>
            <th>
                Type name
            </th>
            <th>
                Status
            </th>
            <th>

            </th>
        </tr>
        <tr th:each="sample : ${samples}">
            <td th:text="${sample.id}">
                1
            </td>
            <td>
                <a th:href="@{/samples/show/{barcode}(barcode = ${sample.barcode})}" th:text="${sample.barcode}">Title
                    ...</a>
            </td>
            <td th:text="${sample.name}">
            </td>
            <td>
                <span th:each="label : ${sample.labels}">
                    <span th:text="${label.name}"> ... </span>
                </span>
            </td>
            <td th:text="${sample.type.name.toUpperCase()}">
                Text ...
            </td>
            <td th:text="${sample.status.value}">
                Status ...
            </td>
            <td>
                <a th:href="@{/samples/{barcode}/add-label/(barcode = ${sample.barcode})}" class="btn btn-primary">
                    Add Label
                </a>
            </td>
        </tr>
    </table>
</div>

</body>
</html>