<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en" th:include="fragments/common :: head"></head>
<body>

<div th:replace="fragments/common :: header">...</div>

<div class="container" th:object="${sample}">

    <div class="page-header">
        <h2>
            Sample Overview
            <small th:text="*{barcode}"></small>
        </h2>
    </div>

    <div class="col-md-10">
        <div class="row">
            <div class="aliases">
                <h3>Also known as</h3>

                <ul>
                    <li th:each="alias : *{aliases}">
                        <span th:text="${alias.name}"></span>
                    </li>
                </ul>
            </div>

            <div class="barcode">
                <h3>Barcode</h3>

                <p th:text="*{barcode}"></p>
            </div>

            <div class="status">
                <h3>Status</h3>

                <p class="text-capitalize" th:text="*{status.value}"></p>
            </div>

            <div class="type">
                <h3>Type</h3>

                <p class="text-uppercase" th:text="*{type.value}"></p>
            </div>

            <div class="groups">
                <h3>Groups</h3>

                <ul>
                    <li th:each="group : *{groups}">
                        <a th:text="${group.name}" th:href="@{/groups/show/{groupId}(groupId = ${group.id})}">
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="col-md-2">
        <div class="row">
            <h4>Actions</h4>

            <div class="btn-group-vertical btn-block">
                <a class="btn btn-primary" data-toggle="modal" href="#add-alias">Add Alias</a>
                <button type="button" class="btn btn-default">..</button>
                <button type="button" class="btn btn-default">..</button>
            </div>
        </div>
    </div>

</div>

<div class="modal fade" id="add-alias">
    <div class="modal-dialog">
        <div class="modal-content">
            <form th:action="@{/samples/update/{barcode}/add-alias(barcode = ${sample.barcode})}" th:method="PUT" role="form"
                  th:object="${alias}">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Add Alias</h4>
                </div>
                <div class="modal-body">


                    <div class="form-group">
                        <label for="aliasName">Alias</label>
                        <input type="text" class="form-control" th:field="*{name}" id="aliasName"
                               placeholder="Identifier for a sample"/>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <input type="submit" class="btn btn-primary" value="Add Alias" />
                </div>

            </form>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<div th:replace="fragments/common :: footer"></div>

</body>
</html>