<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en" th:include="fragments/common :: head"></head>
<body>

<div th:replace="fragments/common :: header">...</div>

<div class="container" th:object="${sample}">

    <div class="page-header">
        <h3>
            Sample Overview
            <small th:text="*{barcode}"></small>
        </h3>
    </div>

    <div class="row">
        <div class="col-md-10">
            <div class="row">
                <div class="col-md-6">
                    <div class="barcode">
                        <h5>Barcode</h5>

                        <p th:text="*{barcode}"></p>
                    </div>

                    <div class="status">
                        <h5>Status</h5>

                        <p th:text="*{status.value}"></p>
                    </div>

                    <div class="type">
                        <h5>Type</h5>

                        <p th:text="*{type.value}"></p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="aliases">
                        <h5>Aliases</h5>

                        <ul>
                            <li th:each="alias : *{aliases}">
                                <span th:text="${alias.name}"></span>
                            </li>
                        </ul>
                    </div>



                    <div class="groups">
                        <h5>Groups</h5>

                        <ul>
                            <li th:each="group : *{groups}">
                                <a th:text="${group.name}" th:href="@{/groups/show/{groupId}(groupId = ${group.id})}">
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="tags">
                <h5>Tags</h5>

                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>Tag</th>
                        <th>Value</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="assignedTag : *{tags}">
                        <td th:text="${assignedTag.name}"></td>
                        <td th:text="${assignedTag.value}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="col-md-2">
            <h4>Actions</h4>

            <div class="btn-group-vertical btn-block">
                <a class="btn btn-primary" data-toggle="modal" href="#add-alias">Add Alias</a>
                <a class="btn btn-primary" data-toggle="modal" href="#add-tag">Add Tag</a>
                <button type="button" class="btn btn-default">..</button>
            </div>
        </div>
    </div>

</div>

<div class="modal fade" id="add-alias">
    <div class="modal-dialog">
        <div class="modal-content">
            <form th:action="@{/samples/update/{barcode}/add-alias(barcode = ${sample.barcode})}" th:method="PUT"
                  role="form"
                  th:object="${alias}">

                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Add Alias</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="aliasName">Alias</label>
                        <input type="text" class="form-control" th:field="*{name}" id="aliasName"
                               placeholder="Identifier for a sample"/>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <input type="submit" class="btn btn-primary" value="Add Alias"/>
                </div>

            </form>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<div class="modal fade" id="add-tag">
    <div class="modal-dialog">
        <div class="modal-content">
            <form th:action="@{/samples/update/{barcode}/add-tag(barcode = ${sample.barcode})}" th:method="PUT"
                  role="form" th:object="${tag}">

                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Add Tag</h4>
                </div>
                <div class="modal-body">

                    <div class="form-group">
                        <label for="tagName">Name</label>
                        <select name="name" id="tagName" th:field="*{name}" class="form-control">
                            <option value=""></option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="tagValue">Value</label>

                        <div id="value-wrapper"></div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <input type="submit" class="btn btn-primary" value="Add Tag"/>
                </div>

            </form>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<div th:replace="fragments/common :: footer"></div>

<script id="select-template" type="text/x-handlebars-template">
    <select name="value" id="tagValue" class="form-control">
        {{#each options}}
        <option value="{{ this }}">{{ this }}</option>
        {{/each}}
    </select>
</script>

<script id="text-template" type="text/x-handlebars-template">
    <input type="text" name="value" value="" class="form-control"/>
</script>

<script id="option-template" type="text/x-handlebars-template">
    <option value="{{ name }}" data-index="{{ index }}">{{ name }}</option>
</script>

<script type="application/javascript" th:src="@{/js/samples/show.js}"></script>

</body>
</html>
