<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8"/>
    <title></title>
</head>
<body>

<div th:fragment="samplestable (appendBeforeId, loadMoreId, metadataId, checkbox)">
    <div th:fragment="table (appendBeforeId, loadMoreId, metadataId, checkbox)">
        <div class="text-muted pull-right jqp-metadata" th:id="${metadataId}">
        </div>
        <table class="table table-condensed jqp-samples" th:classappend="${checkbox ? 'table-hover' : ''}">
            <tr>
                <th th:if="${checkbox}"></th>
                <th>
                    Barcode
                </th>
                <th>
                    Main Alias
                </th>
                <th>
                    Type
                </th>
                <th>
                    Status
                </th>
                <th>
                    Actions
                </th>
            </tr>
            <tr class="jqp-append-before" th:id="${appendBeforeId}">
                <td colspan="7" class="text-center">
                    <a href="#" class="btn btn-default jqp-load-more" th:id="${loadMoreId}">
                        Load More Samples...
                    </a>
                </td>
            </tr>
        </table>
    </div>

    <script id="sample-template" type="text/x-handlebars-template" th:fragment="template (checkbox)">
        <tr id="{{ barcode }}" th:class="${checkbox ? 'selectable' : ''}">
            <td th:if="${checkbox}">
                <input type="checkbox" value="{{ barcode }}" name="samples[{{ index }}]" data-type="{{ type.value }}" />
            </td>
            <td width="15%">
                <a href="/samples/show/{{ barcode }}">
                    {{ barcode }}
                </a>
            </td>
            <td>
                {{ mainAlias.name }}
            </td>
            <td>
                {{ type.value }}
            </td>
            <td>
                {{ status.value }}
            </td>
            <td>
                <a href="/samples/show/{{ barcode }}/" class="label label-primary">
                    View
                </a>
            </td>
        </tr>
    </script>
</div>

</body>
</html>
