<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en" th:include="fragments/common :: head"></head>
<body>

<div th:replace="fragments/common :: header">...</div>

<input type="hidden" name="id" th:value="${id}"/>

<div class="container" id="order-view">

    <div class="page-header">
        <h1>
            Order Overview
        </h1>
    </div>

    <div class="row append">
        <div class="loading text-center">
            <span class="glyphicon glyphicon-refresh glyphicon-spin"></span>
            Loading...
        </div>
    </div>

</div>

<div th:replace="fragments/common :: footer"></div>

<script id="order-template" type="text/x-handlebars-template">
    <div class="col-xs-12">
        <h3>Product: </h3>

        <p>
            <a href="/orders/show/{{ id }}">
                {{ product.name }}
            </a>
        </p>

        <h3>Number of Samples: </h3>

        <p>
            {{ samples.length }}
        </p>

        <h3>Submission date: </h3>

        <p>
            {{ created }}
        </p>
    </div>
    <div class="col-xs-12">
        <h3>Samples: </h3>
        <table class="table table-condensed table-hover samples-table">
            <thead>
            <tr>
                <th width="20%">
                    <span class="glyphicon glyphicon-barcode" style="vertical-align: -1px"></span>
                    Barcode
                </th>
                <th>Status</th>
                <th width="5%" class="text-center">
                    <span class="glyphicon glyphicon-option-horizontal"></span>
                </th>
            </tr>
            </thead>
            <tbody>
            {{#each samples}}
            <tr id="{{ barcode }}">
                <td>
                    {{ barcode }}
                </td>
                <td>{{ currentStatus.name }}</td>
                <td class="text-center cursor-pointer" data-extend="#{{ barcode }}-companion">
                    <span class="glyphicon glyphicon-menu-down"></span>
                </td>
            </tr>
            <tr class="hidden active" id="{{ barcode }}-companion">
                <th>
                    Status History
                </th>
                <td colspan="2" class="small">
                    {{#each statusHistory}}
                        <p>
                            <b>Date: </b> {{ date created }}
                            <b>Status: </b> {{ status.name }}
                        </p>
                    {{/each}}
                </td>
            </tr>
            {{/each}}
            </tbody>
        </table>

    </div>
</script>

<script type="application/javascript" th:src="@{/js/orders/show.js}"></script>

</body>
</html>