<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en" th:include="fragments/common :: head"></head>
<body>

<!--@thymesVar id="result" type="uk.ac.sanger.mig.aker.domain.Searchable"-->

<div th:replace="fragments/common :: header">...</div>

<div class="container">

    <div class="page-header">
        <h1>Search Results</h1>
    </div>

    <div class="col-md-12">
        <ul>
            <li th:each="result : ${results}" th:object="${result}">
                <a th:href="*{path + identifier}">
                    <b th:text="*{identifier}"></b>
                    <span th:text="*{searchName}"></span>
                </a>
            </li>
        </ul>
    </div>

</div>

<div th:replace="fragments/common :: footer"></div>

<script type="application/javascript" th:src="@{/js/search/index.js}"></script>

</body>
</html>
