<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en" th:include="fragments/common :: head"></head>
<body>

<!--@thymesVar id="result" type="uk.ac.sanger.mig.aker.domain.Searchable"-->

<div th:replace="fragments/common :: header">...</div>

<div class="container">

    <div class="page-header">
        <h4>Search Results</h4>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div th:each="result : ${results}" th:unless="${result.value.isEmpty()}">
                <h5 th:text="${result.key}"></h5>
                <ul>
                    <li th:each="searchable : ${result.value}" th:object="${searchable}">
                        <a th:href="*{path + identifier}">
                            <b th:text="*{identifier}"></b>
                            <span th:text="*{searchName}"></span>
                        </a>
                    </li>
                </ul>
            </div>

        </div>
    </div>

</div>

<div th:replace="fragments/common :: footer"></div>

<script type="application/javascript" th:src="@{/js/search/index.js}"></script>

</body>
</html>
