<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en" th:include="fragments/common :: head"></head>
<body>

<div th:replace="fragments/common :: header">...</div>

<div class="container">

    <div class="row">
        <div class="col-md-12">
            <h3>Groups</h3>

            <div th:replace="groups/table :: groupstable (${'append-groups'}, ${'load-groups'}, ${'metadata-groups'}, ${false})"></div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h3>Samples</h3>

            <div th:replace="samples/table :: samplestable (${'jqp-append-before-samples'}, ${'jqp-load-more-samples'}, ${'jqp-metadata-samples'}, ${false})"></div>
        </div>
    </div>

</div>

<div th:replace="fragments/common :: footer"></div>

<script type="application/javascript" th:src="@{/js/main/index.js}"></script>

</body>
</html>
