<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en" th:include="fragments/common :: head"></head>
<body>

<div th:replace="fragments/common :: header">...</div>

<div class="container">

    <div class="col-md-10">
        <div class="row">
            <h3>Groups</h3>

            <div th:replace="groups/table :: groupstable (${'append-groups'}, ${'load-groups'}, ${'metadata-groups'}, ${false})"></div>
        </div>

        <div class="row">
            <h3>Samples</h3>

            <div th:replace="samples/table :: samplestable (${'jqp-append-before-samples'}, ${'jqp-load-more-samples'}, ${'jqp-metadata-samples'}, ${false})"></div>
        </div>
    </div>

    <div class="col-md-2">
        <ul class="nav nav-pills nav-stacked">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#">Profile</a></li>
            <li><a href="#">Messages</a></li>
        </ul>
    </div>

</div>

<div th:replace="fragments/common :: footer"></div>

<script type="application/javascript">
    $(document).ready(function () {

        $('.jqp-samples').pager({
            url: '/samples/json/',
            template: '#sample-template',
            loadButton: '#jqp-load-more-samples',
            appendBefore: '#jqp-append-before-samples',
            metadata: '#jqp-metadata-samples'
        });

        $('.jqp-groups').pager({
            url: '/groups/json/',
            template: '#group-template',
            loadButton: '#load-groups',
            appendBefore: '#append-groups',
            metadata: '#metadata-groups'
        });

    });
</script>

</body>
</html>