<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en" th:include="fragments/common :: head"></head>
<body>

<div th:replace="fragments/common :: header">...</div>

<div class="container">

    <form th:action="@{/work/request}" method="POST">

        <div class="page-header">
            <h2>
                Order Work
            </h2>
        </div>

        <div class="row">
            <div class="col-md-10">
                <div class="form-group">
                    <label for="products" class="h3">
                        Choose product
                    </label>
                    <select name="product" id="products" class="form-control">
                        <option value=""></option>
                    </select>
                </div>

                <div class="options-wrapper">
                    <h3>
                        Options
                    </h3>

                    <div class="options">

                    </div>
                </div>

                <div class="groups-wrapper">
                    <h3>Groups</h3>

                    <div th:replace="groups/table :: groupstable (${'append-groups'}, ${'load-groups'}, ${'metadata-groups'}, ${true})"></div>
                </div>

                <div class="samples-wrapper">
                    <h3>Samples</h3>

                    <div th:replace="samples/table :: samplestable (${'append-samples'}, ${'load-samples'}, ${'metadata-samples'}, ${true})"></div>
                </div>

            </div>
            <div class="col-md-2">
                <div data-spy="affix">
                    <h4>
                        Actions
                    </h4>
                    <a class="btn btn-primary btn-block">Send Order</a>
                </div>
            </div>

        </div>

    </form>

</div>

<script id="select-template" type="text/x-handlebars-template">
    <option value="{{ index }}">
        {{ name }}
    </option>
</script>

<script id="option-template" type="text/x-handlebars-template">
    <div class="form-group">
        <label for="{{ name }}">{{ name }}</label>
        <select name="{{ name }}" id="{{ name }}" class="form-control">
            {{#unless required}}
            <option value=""></option>
            {{/unless}}

            {{#each options}}
            <option value="{{ @index }}">
                {{ this }}
            </option>
            {{/each}}
        </select>
    </div>
</script>


<div th:replace="fragments/common :: footer"></div>

<script type="application/javascript">
    $(document).ready(function () {
        var $samples = $('.jqp-samples'),
                $groups = $('.jqp-groups'),
                $productTemplate = $('#select-template'),
                $optionTemplate = $('#option-template'),
                $products = $('#products');

        // compile template using Handlebars
        var optionTemplate = Handlebars.compile($optionTemplate.html()),
                productTemplate = Handlebars.compile($productTemplate.html());

        $groups.selectableElement({
            element: 'tbody .selectable'
        });

        $samples.selectableElement({
            element: 'tbody .selectable'
        });

        var productQuery = $.ajax('http://localhost:8081/products/');

        function updateOptions(product) {
            var optionsHtml = '';

            if (!product._links.options) {
                return;
            }

            var optionsQuery = $.ajax(product._links.options.href);
            optionsQuery.then(function (data) {
                var options = data._embedded.options;
                $.each(options, function (index, option) {

                    // has no options
                    if (option.perSample) {
                        return;
                    }

                    var context = {
                        name: option.name,
                        options: stringByCommasToArray(option.restrictedOptions),
                        required: option.required
                    };

                    optionsHtml += optionTemplate(context);
                });

                $('.options').html('').html(optionsHtml);
            });
        }

        productQuery.then(function (data) {
            var products = data._embedded.products;
            var sampleHtml = '';
            var samplesPager, groupsPager;

            $.each(products, function (index, product) {
                product.index = index;
                sampleHtml += productTemplate(product);
            });

            $products.append(sampleHtml);

            $products.on('change', function (e) {
                var valueSelected = this.value;

                if (valueSelected === '') {
                    return;
                }

                var validTypes = [];

                $.each(products[valueSelected].inputMaterial, function (index, material) {
                    validTypes.push(material.type.value);
                });

                updateOptions(products[valueSelected]);

                var payload = {
                    data: {
                        types: validTypes.join(',')
                    }
                };

                samplesPager.load(payload);
                groupsPager.load(payload);
            });

            samplesPager = $samples.pager({
                url: '/samples/byType',
                template: '#sample-template',
                loadButton: '#load-samples',
                appendBefore: '#append-samples',
                metadata: '#metadata-samples',
                scrollLoad: true,
                preload: false
            });

            groupsPager = $groups.pager({
                url: '/groups/byType',
                template: '#group-template',
                loadButton: '#load-groups',
                appendBefore: '#append-groups',
                metadata: '#metadata-groups',
                scrollLoad: false,
                preload: false
            });

        }, function (xhr, status, errorThrown) {
            console.log(xhr);
            console.log(status);
            console.log(errorThrown);
        });

    });
</script>

</body>
</html>