<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en" th:include="fragments/common :: head"></head>
<body>

<div th:replace="fragments/common :: header">...</div>

<div class="container">
    
    <form th:action="@{/work/order}" method="POST" id="order-form">

        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>

        <div class="page-header">
            <h2>
                Order Work
            </h2>
        </div>

        <div class="row" id="work-form">

            <div class="show col-xs-2 col-xs-offset-5">
                <span class="glyphicon glyphicon-refresh glyphicon-spin"></span> Loading...
            </div>

            <div class="hidden">
                <div class="col-md-10">

                    <div class="form-group">
                        <label for="products" class="h3">
                            Choose product
                        </label>
                        <select name="product" id="products" class="form-control">
                            <option value=""></option>
                        </select>
                    </div>

                    <div class="options-wrapper">
                        <h3>
                            Options
                        </h3>

                        <div class="options">

                        </div>
                    </div>

                    <div class="groups-wrapper">
                        <h3>Groups</h3>

                        <div th:replace="groups/table :: groupstable (${'append-groups'}, ${'load-groups'}, ${'metadata-groups'}, ${true})"></div>
                    </div>

                    <div class="samples-wrapper">
                        <h3>Samples</h3>

                        <div th:replace="samples/table :: samplestable (${'append-samples'}, ${'load-samples'}, ${'metadata-samples'}, ${true})"></div>
                    </div>

                </div>
                <div class="col-md-2">
                    <div id="actions" class="attached-affix" data-spy="affix" data-offset-top="165"
                         data-offset-bottom="10">
                        <div class="work-order-actions">
                            <h4>
                                Actions
                            </h4>
                            <a class="btn btn-primary btn-block" id="submit">Send Order</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </form>
</div>

<script id="select-template" type="text/x-handlebars-template">
    <option value="{{ index }}${{ name }}" data-index="{{ index }}">
        {{ name }}
    </option>
</script>

<script id="option-template" type="text/x-handlebars-template">
    <div class="form-group">
        <label for="{{ name }}">{{ name }}</label>
        {{#if options}}
        <select name="options" id="{{ name }}" class="form-control">
            {{#unless required}}
            <option value="{{ name }}$"></option>
            {{/unless}}

            {{#each options}}
            <option value="{{ ../name }}${{ this }}" data-index="{{ @index }}">
                {{ this }}
            </option>
            {{/each}}
        </select>
        {{ else }}
        <input type="text" name="options" value="" data-index="{{ index }}" class="form-control"
               data-name="{{ name }}"/>
        {{/if}}
    </div>
</script>

<div th:replace="fragments/common :: footer"></div>

<script type="application/javascript" th:src="@{/js/work/index.js}"></script>

</body>
</html>
