<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en" th:include="fragments/common :: head"></head>
<body>

<div th:replace="fragments/common :: header">...</div>

<div class="container">

    <form th:action="@{/work/request}" method="POST">

        <div class="page-header">
            <h2>
                Order Work
            </h2>
        </div>

        <div class="row" id="work-form">

            <div class="show col-xs-2 col-xs-offset-5">
                <span class="glyphicon glyphicon-refresh glyphicon-spin"></span> Loading...
            </div>

            <div class="hidden">
                <div class="col-md-10">
                    <div class="form-group">
                        <label for="products" class="h3">
                            Choose product
                        </label>
                        <select name="product" id="products" class="form-control">
                            <option value=""></option>
                        </select>
                    </div>

                    <div class="options-wrapper">
                        <h3>
                            Options
                        </h3>

                        <div class="options">

                        </div>
                    </div>

                    <div class="groups-wrapper">
                        <h3>Groups</h3>

                        <div th:replace="groups/table :: groupstable (${'append-groups'}, ${'load-groups'}, ${'metadata-groups'}, ${true})"></div>
                    </div>

                    <div class="samples-wrapper">
                        <h3>Samples</h3>

                        <div th:replace="samples/table :: samplestable (${'append-samples'}, ${'load-samples'}, ${'metadata-samples'}, ${true})"></div>
                    </div>

                </div>
                <div class="col-md-2">
                    <div id="actions" class="attached-affix" data-spy="affix" data-offset-top="165"
                         data-offset-bottom="10">
                        <div class="work-order-actions">
                            <h4>
                                Actions
                            </h4>
                            <a class="btn btn-primary btn-block" id="submit">Send Order</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </form>

</div>

<script id="select-template" type="text/x-handlebars-template">
    <option value="{{ index }}${{ name }}" data-index="{{ index }}">
        {{ name }}
    </option>
</script>

<script id="option-template" type="text/x-handlebars-template">
    <div class="form-group">
        <label for="{{ name }}">{{ name }}</label>
        <select name="options" id="{{ name }}" class="form-control">
            {{#unless required}}
            <option value="{{ name }}$"></option>
            {{/unless}}

            {{#each options}}
            <option value="{{ ../name }}${{ this }}" data-index="{{ @index }}">
                {{ this }}
            </option>
            {{/each}}
        </select>
    </div>
</script>

<div th:replace="fragments/common :: footer"></div>

<script type="application/javascript">
    $(document).ready(function () {

        var $workForm = $('#work-form'),
                $samples = $('.jqp-samples'),
                $groups = $('.jqp-groups'),
                $products = $('#products'),
                $submit = $('#submit');

        // compile template using Handlebars
        var optionTemplate = Handlebars.compile($('#option-template').html()),
                productTemplate = Handlebars.compile($('#select-template').html());

        $groups.selectableElement({
            element: 'tbody .selectable'
        });

        $samples.selectableElement({
            element: 'tbody .selectable'
        });

        var productQuery = $.ajax('http://localhost:8081/products/');
        var products;

        function updateOptions(product) {
            var optionsHtml = '';

            if (!product._links.options) {
                return;
            }

            var optionsQuery = $.ajax(product._links.options.href);
            optionsQuery.then(function (data) {
                var options = data._embedded.options;
                product.options = options;
                $.each(options, function (index, option) {

                    // has no options
                    if (option.perSample) {
                        return;
                    }

                    var context = {
                        name: option.name,
                        options: stringByCommasToArray(option.restrictedOptions),
                        required: option.required
                    };

                    optionsHtml += optionTemplate(context);
                });

                $('.options').html('').html(optionsHtml);
            });
        }

        productQuery.then(function (data) {
            $workForm.find('.hidden').toggleClass('hidden');
            $workForm.find('.show').remove();

            products = data._embedded.products;
            var sampleHtml = '';
            var samplesPager, groupsPager;

            $.each(products, function (index, product) {
                product.index = index;
                sampleHtml += productTemplate(product);
            });

            $products.append(sampleHtml);

            $products.on('change', function (e) {
                var $selected = $(this).find(":selected"),
                        valueSelected = $selected.data('index');

                if (valueSelected === '') {
                    return;
                }

                var validTypes = [];

                $.each(products[valueSelected].inputMaterial, function (index, material) {
                    validTypes.push(material.type.value);
                });

                updateOptions(products[valueSelected]);

                var payload = {
                    data: {
                        types: validTypes.join(',')
                    }
                };

                samplesPager.load(payload);
                groupsPager.load(payload);
            });

            samplesPager = $samples.pager({
                url: '/samples/byTypes',
                template: '#sample-template',
                loadButton: '#load-samples',
                appendBefore: '#append-samples',
                metadata: '#metadata-samples',
                scrollLoad: true,
                preload: false
            });

            groupsPager = $groups.pager({
                url: '/groups/byTypes',
                template: '#group-template',
                loadButton: '#load-groups',
                appendBefore: '#append-groups',
                metadata: '#metadata-groups',
                scrollLoad: false,
                preload: false
            });

            $submit.on('click', function (e) {
                e.preventDefault();

                var order = {
                    product: [],
                    samples: [],
                    groups: [],
                    options: []
                };

                var form = $('form').serializeArray();

                $.each(form, function (index, input) {
                    switch (input.name) {
                        case 'product':
                            var productIndex = input.value.split('$')[0];

                            order.product = {
                                name: products[productIndex].name,
                                options: products[productIndex].options
                            };

                            var perSampleOptions = $.grep(order.product.options, function (opt) {
                                return opt.perSample;
                            });

                            order.product.options = [];

                            $.each(perSampleOptions, function (i, opt) {
                                order.product.options.push({
                                    name: opt.name,
                                    value: "",
                                    restrictedOptions: stringByCommasToArray(opt.restrictedOptions)
                                });
                            });
                            break;

                        case 'samples':
                            order.samples.push({
                                barcode: input.value
                            });
                            break;

                        case 'groups':
                            order.groups.push(input.value);
                            break;

                        case 'options':
                            var split = input.value.split('$');
                            order.options.push({
                                name: split[0],
                                value: split[1]
                            });
                            break;
                    }
                });

                var orderQuery = $.ajax('/work/order', {
                    method: "POST",
                    data: JSON.stringify(order),
                    processData: false,
                    contentType: 'application/json'
                });

                orderQuery.then(function (data) {
                    if (data) {
                        window.location.href = "/work/order";
                    }
                });
            });

        }, function (xhr, status, errorThrown) {
            console.log(xhr);
            console.log(status);
            console.log(errorThrown);
        });

    });
</script>

</body>
</html>