<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en" th:include="fragments/common :: head"></head>
<body>

<div th:replace="fragments/common :: header">...</div>

<div class="container">

    <div class="pager-header">
        <h1>
            Order Work
        </h1>
    </div>

    <div>
        <form th:action="@{/work/submit}" th:method="put" th:object="${workOrder}">

            <table class="table table-hover">
                <thead>
                <tr>
                    <th>
                        Barcode
                    </th>
                    <th>
                        Main Alias
                    </th>
                    <th th:each="option : *{product.options}" th:text="${option.name}">
                    </th>
                </tr>
                </thead>
                <tbody>

                <tr th:each="sample, stat : *{samples}">
                    <td>
                        <span th:text="${sample.barcode}"></span>
                        <input type="hidden"
                               th:field="*{samples['__${stat.index}__'].barcode}"
                               th:value="${sample.barcode}"/>
                    </td>
                    <td>

                    </td>
                    <td th:each="productOption, optStat : ${workOrder.product.options}"
                        th:with="value = *{samples['__${stat.index}__'].options['__${productOption.name}__']}">

                        <select th:if="${!productOption.restrictedOptions.isEmpty()}"
                                th:field="*{samples['__${stat.index}__'].options['__${productOption.name}__']}"
                                class="form-control">
                            <option value=""></option>
                            <option th:each="opt : ${productOption.restrictedOptions}"
                                    th:value="${opt}"
                                    th:text="${opt}"
                                    th:selected="${opt == value}">
                            </option>
                        </select>

                        <input th:if="${productOption.restrictedOptions.isEmpty()}"
                               th:field="*{samples['__${stat.index}__'].options['__${productOption.name}__']}"
                               th:value="${value}"
                               type="text"
                               class="form-control" />
                    </td>
                </tr>
                </tbody>
            </table>
            
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>

</div>

<div th:replace="fragments/common :: footer"></div>

<script type="application/javascript">
    $(document).ready(function () {


    });
</script>

</body>
</html>