<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en" th:include="fragments/common :: head"></head>
<body>

<div th:replace="fragments/common :: header">...</div>

<div class="container">

    <div class="pager-header">
        <h3>
            Order Work
        </h3>
    </div>

    <div class="form-wrapper">
        <form th:action="@{/work/submit}" th:method="put" th:object="${workOrder}">
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>

            <input type="hidden" th:value="*{samples.size()}" name="sample_count" id="sample-count"/>

            <input type="hidden" th:value="${principal.getName()}" name="owner" />

            <div>
                <h3>Product</h3>

                <span th:text="*{product.name}"></span>
                <input type="hidden" th:field="*{product.name}" th:value="*{product.name}" class="product-name"/>

                <h3>Estimated Cost</h3>

                £<span th:text="*{estimateCost}"></span>

                <h3>Options</h3>

                <ul class="list-unstyled">
                    <li th:each="option, iter : *{options}">
                        <b th:text="${option.name}"></b>
                        <span th:text="${option.value}"></span>

                        <input type="hidden" th:field="*{options['__${iter.index}__'].name}" th:value="${option.name}"/>
                        <input type="hidden" th:field="*{options['__${iter.index}__'].value}"
                               th:value="${option.value}"/>
                    </li>
                </ul>

            </div>

            <h3>Samples</h3>

            <div class="order-grid">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>
                            Barcode
                        </th>
                        <th th:each="option : *{product.options}" th:text="${option.name}">
                        </th>
                    </tr>
                    </thead>
                    <tbody>

                    <tr th:each="sample, stat : *{samples}">
                        <td>
                            <span th:text="${sample.barcode}"></span>
                            <input type="hidden"
                                   th:field="*{samples['__${stat.index}__'].barcode}"
                                   th:value="${sample.barcode}"/>
                        </td>
                        <td th:each="productOption, optStat : ${workOrder.product.options}"
                            th:with="value = *{samples['__${stat.index}__'].options['__${productOption.name}__']}">

                            <select th:if="${!productOption.restrictedOptions.isEmpty()}"
                                    th:field="*{samples['__${stat.index}__'].options['__${productOption.name}__']}"
                                    class="form-control">
                                <option value=""></option>
                                <option th:each="opt : ${productOption.restrictedOptions}"
                                        th:value="${opt}"
                                        th:text="${opt}"
                                        th:selected="${opt == value}">
                                </option>
                            </select>

                            <input th:if="${productOption.restrictedOptions.isEmpty()}"
                                   th:field="*{samples['__${stat.index}__'].options['__${productOption.name}__']}"
                                   th:value="${value}"
                                   type="text"
                                   class="form-control"/>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <div class="project-code">
                <h2>
                    Charging
                </h2>

                <div class="form-group" id="project-search">
                    <label for="project-code">Project Code</label>

                    <div class="input-group">
                        <span class="input-group-addon hidden" id="basic-addon1">
                            <span class="glyphicon glyphicon-ok" id="status"></span>
                        </span>
                        <input type="text" th:field="*{project.code}" id="project-code" class="form-control"/>
                        <span class="input-group-btn">
                            <button class="btn btn-primary">Confirm</button>
                        </span>
                    </div>
                </div>

            </div>

            <p>
                <a th:href="@{/work/csv}" class="btn btn-default">Generate CSV</a>
                <button type="submit" class="btn btn-primary submit" disabled="disabled" id="submit-ws">
                    Submit
                </button>
            </p>
        </form>
    </div>

</div>

<div th:replace="fragments/common :: footer"></div>

<script id="form-group-template" type="text/x-handlebars-template">
    <span class="{{#if success}} alert-success {{else}} alert-danger {{/if}}">
        <p>
            {{ text }}
        </p>
    </span>
</script>

<script id="submitted-template" type="text/x-handlebars-template">
    <div class="text-center">
        <h1>
            <span class="glyphicon glyphicon-ok text-success"></span>
            {{ text }}
        </h1>
    </div>
</script>

<script type="application/javascript" th:src="@{/js/work/order.js}"></script>

</body>
</html>
