<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en" th:include="fragments/common :: head"></head>
<body>

<div th:replace="fragments/common :: header">...</div>

<div class="container-fluid">

    <div class="page-header">
        <h3>Labware Request</h3>
    </div>

    <form th:action="@{/labware/store/}" th:object="${labwareRequest}" method="POST" role="form">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>

        <div class="form-group">
            <h3>Samples</h3>

            <div class="sample-holder draggable-container">

            </div>
        </div>

        <div class="form-group hide-select">
            <table class="table table-bordered table-responsive">
                <thead>
                <tr>
                    <th></th>
                    <th th:each="col : ${#numbers.sequence(1, size.columns)}">
                        <span th:text="${#ids.seq(' ')}"></span>
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="row : ${#numbers.sequence(1, size.rows)}">
                    <td th:each="col : ${#numbers.sequence(0, size.columns)}">
                        <div th:if="${col == 0}" th:text="${{'A', 'B', 'C', 'D', 'E', 'F',  'G', 'H', 'I',  'J', 'K', 'L', 'M', 'N', 'O', 'P'}[__${row - 1}__]}">
                            R
                        </div>

                        <div th:unless="${col == 0}"
                             th:with="seq =  ${#conversions.convert(#ids.seq(' '), 'Integer')}, isEmpty = ${seq &gt; labwareRequest.samples.size() - 2}"
                             class="draggable-sample-container draggable-container"
                             data-single="true">

                            <div th:if="${isEmpty}">
                                <i class="text-muted">
                                    empty
                                </i>
                            </div>

                            <div th:unless="${isEmpty}" draggable="true" class="draggable" th:id="*{samples[__${seq}__].barcode}">
                                <input type="hidden" th:field="*{samples[__${seq}__].barcode}"
                                       th:value="*{samples[__${seq}__].barcode}"/>
                                <span th:text="*{samples[__${seq}__].barcode}" class="btn btn-default"></span>
                            </div>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <!--<div class="alert alert-danger" th:if="${#fields.hasErrors('amount')}">-->
        <!--<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>-->
        <!--<strong>Validation Errors</strong>-->
        <!--<p th:errors="*{amount}"></p>-->
        <!--</div>-->

        <!--<div class="form-group">-->
        <!--<label for="type">Of Type</label>-->
        <!--<select id="type" class="form-control" th:field="*{type}">-->
        <!--<option th:each="type : ${types}" th:value="${type.id}" th:text="${type.value}">-->
        <!--</option>-->
        <!--</select>-->
        <!--</div>-->

        <!--<div class="alert alert-danger" th:if="${#fields.hasErrors('type')}">-->
        <!--<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>-->
        <!--<strong>Validation Errors</strong>-->
        <!--<p th:errors="*{type}"></p>-->
        <!--</div>-->

        <button type="submit" class="btn btn-primary">Request</button>
    </form>
</div>

<div th:replace="fragments/common :: footer"></div>

<script type="application/javascript" th:src="@{/js/labware/create.js}"></script>

</body>
</html>
