<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en" th:include="fragments/common :: head"></head>
<body>

<div th:replace="fragments/common :: header">...</div>

<div class="container" th:object="${group}">

    <div class="page-header">
        <h3>
            Group Overview
            <small th:text="*{name}"></small>
        </h3>
    </div>

    <div class="col-md-10">
        <div class="row">
            <div class="name">
                <h4>Group Name</h4>

                <p th:text="*{name}"></p>
            </div>

            <div class="parent" th:if="*{parent != null}">
                <h4>Parent Group</h4>

                <p>
                    <a href="" th:text="*{parent.name}" th:href="@{/groups/show/{groupId}(groupId = *{parent.id})}">
                    </a>
                </p>
            </div>

            <div class="subgroups" th:if="*{!subgroups.isEmpty()}">
                <h4>Sub Groups</h4>

                <ul>
                    <li th:each="subgroup : *{subgroups}">
                        <a href="" th:text="${subgroup.name}" th:href="@{/groups/show/{groupId}(groupId = ${subgroup.id})}">
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="col-md-2">
        <div class="row">
            <h4>Actions</h4>

            <a class="btn btn-default btn-block" th:href="@{/groups/edit/{id}/(id = *{id})}">Edit</a>
            <a class="btn btn-danger btn-block" th:href="@{/groups/delete/{id}/(id = *{id})}">Delete Group</a>
        </div>
    </div>

    <div class="col-md-12">
        <div class="samples row">
            <h4>Samples</h4>

            <div th:if="*{!samples.isEmpty()}">
                <h5 class="text-muted">
                    Samples from: <span th:text="*{name}"></span>
                </h5>

                <div th:include="samples/table :: table (*{'append-' + id}, *{'load-' + id}, *{'meta-' + id}, ${false})"></div>
            </div>

            <div th:if="*{!subgroups.isEmpty()}">
                <div th:each="subgroup : *{subgroups}">
                    <h4 class="text-muted">
                        Samples from: <span th:text="${subgroup.name}"></span>
                    </h4>

                    <div th:include="samples/table :: table (${'append-' + subgroup.id}, ${'load-' + subgroup.id}, ${'meta-' + subgroup.id}, ${false})"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:include="fragments/common :: footer"></div>

<script th:replace="samples/table :: template (${false})"></script>

<script type="application/javascript" th:src="@{/js/groups/show.js}"></script>

</body>
</html>
