<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8"/>
    <title></title>
</head>
<body>

<div th:fragment="groupstable (appendBeforeId, loadMoreId, metadataId, checkbox)">
    <div th:fragment="table (appendBeforeId, loadMoreId, metadataId)">
        <div class="text-muted pull-right jqp-metadata" th:id="${metadataId}">
        </div>
        <table class="table table-condensed jqp-groups" th:classappend="${checkbox ? 'table-hover' : ''}">
            <tr>
                <th th:if="${checkbox}"></th>
                <th>
                    Name
                </th>
                <th>
                    Type
                </th>
                <th>
                    Sample Count
                </th>
                <th>
                    Details
                </th>
            </tr>
            <tr class="jqp-append-before" th:id="${appendBeforeId}">
                <td colspan="7" class="text-center">
                    <a href="#" class="btn btn-default jqp-load-more" th:id="${loadMoreId}">
                        Load More Groups...
                    </a>
                </td>
            </tr>
        </table>
    </div>

    <script id="group-template" type="text/x-handlebars-template" th:fragment="template">
        <tr id="{{ id }}" th:class="${checkbox ? 'selectable' : ''}">
            <td th:if="${checkbox}">
                <input type="checkbox" value="{{ id }}" name="groups" />
            </td>
            <td>
                {{ name }}
            </td>
            <td>
                {{ type.value }}
            </td>
            <td>
                {{ samples.length }}
            </td>
            <td>
                <a href="/groups/show/{{ id }}/">
                    <span class="glyphicon glyphicon-eye-open"></span>
                    View
                </a>
            </td>
        </tr>
    </script>
</div>

</body>
</html>