<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8"/>
    <title>Aker</title>
</head>
<body>

<div class="container" th:fragment="header">
    <nav class="navbar navbar-default">

        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Aker</a>
        </div>

        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav" th:with="uri = ${#httpServletRequest.requestURI}">

                <li th:classappend="${uri == '/'} ? active ">
                    <a href="#" th:href="@{/}">Home</a>
                </li>
                <li th:classappend="${uri.startsWith('/samples/')} ? active ">
                    <a href="#" th:href="@{/samples/}">
                        Samples
                        <span class="badge">5</span>
                    </a>
                </li>
                <li th:classappend="${uri.startsWith('/groups/')} ? active ">
                    <a href="#" th:href="@{/groups/}">
                        Groups
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</div>

</body>
</html>