<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8"/>
    <title></title>
</head>
<body>

<div class="container" th:fragment="header">
    <div class="navbar navbar-default">
        <div class="container">

            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Aker</a>
            </div>

            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="active">
                        <a href="#" th:href="@{/}">Home</a>
                    </li>
                    <li>
                        <a href="#" th:href="@{/samples}">Samples</a>
                    </li>
                    <li>
                        <a href="#" th:href="@{/task}">Tasks</a>
                    </li>
                </ul>
            </div>

        </div>
    </div>
</div>

</body>
</html>